*{
    padding: 0;
    margin: 0;
}

.padre{
    background-image: url(IMAGENES/FONDO.jpg);
  background-size: 100%;
  height: 100rem;
  
}

.fondo{

    animation: fondo-move 10s linear infinite;
}

@keyframes fondo-move{

    100%{
        
        background-position-x: -1000rem;
                
    }

}

.carro{
    display: flex;
    position: absolute;
    top: 70rem;
    left: 40rem;
}

.luces{

    display: flex;
    position: absolute;
    top: 83rem;
    left: 66rem;

}

@keyframes luces{

    100%{

        opacity: 10%;

    }

}

.ocult{

    display: none;
}

.sprites{

    background: url(IMAGENES/SPRITES.png);
    position: absolute;
    top: 82rem;
    left: 30rem;
    height: 196px;
    width: 318.25px;

}

.ocultar{
    display: none;

}

.sara{
    animation: sprites .5s steps(4) infinite;
}

@keyframes sprites{

    100%{

        background-position-x: 1273px;

    }

}

.rueda{
    display: flex;
    position: absolute;
    top: 89rem;
    left: 64rem;
    
}

.ruedasecu{
    display: flex;
    position: absolute;
    top: 89rem;
    left: 45rem;
    width: 6rem;
}

.wheels{
    width: 6rem;
    

}

.llantitas{

    animation: ruedas1-move 1s linear infinite;

}

@keyframes ruedas1-move{

    100%{
        
        transform: rotate(360deg);
                
    }


}

